<a href="https://colab.research.google.com/github/alexkardan/ABS-Visualizations/blob/main/ABS_Weekly_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
Weekly_High_Volume_Store = pd.read_csv("Montgomery College Data Set (High Volume_Weekly).csv")
Weekly_Medium_Volume_Store = pd.read_csv("Montgomery College Data Set (Medium Volume_Weekly).csv")
Weekly_Low_Volume_Store = pd.read_csv("Montgomery College Data Set (Low Volume_Weekly).csv")

In [3]:
Weekly_High_Volume_Store.describe()

,Week,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
count,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,...,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,11.596806,16.113772,16.115768,17.209581,17.055888,19.015968,18.926148,16.564870,15.812375,15.732535,...,22.720559,21.323353,20.904192,20.820359,26.840319,18.720559,21.994012,25.790419,24.700599,13.191617
std,20.220908,21.935201,21.933959,25.298023,25.186522,27.830123,28.241822,23.582075,23.201826,22.824818,...,32.733496,31.449821,31.591372,29.901366,39.455778,26.755967,33.418467,39.302951,36.078223,22.718873
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,2.000000,3.000000,1.000000,4.000000,3.000000,1.000000,0.000000,0.000000,...,4.000000,3.000000,2.000000,4.000000,5.000000,0.000000,2.000000,3.000000,0.000000,0.000000
50%,6.000000,10.000000,10.000000,11.000000,10.000000,12.000000,11.000000,10.000000,10.000000,9.000000,...,12.000000,12.000000,12.000000,12.000000,16.000000,10.000000,12.000000,15.000000,15.000000,6.000000
75%,13.000000,20.000000,20.000000,22.000000,20.000000,23.000000,24.000000,20.000000,19.000000,19.000000,...,28.000000,24.000000,24.000000,24.000000,31.000000,24.000000,25.000000,29.000000,28.000000,14.000000
max,230.000000,181.000000,181.000000,280.000000,210.000000,240.000000,252.000000,189.000000,260.000000,215.000000,...,224.000000,211.000000,204.000000,216.000000,294.000000,184.000000,290.000000,420.000000,270.000000,211.000000

In [4]:
Weekly_High_Volume_Store.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Week,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
496,18798,TRULY VODKA SELTZER VARIETY 3/8 CANS,24,2.37375,8,8,8,8,16,0,...,0,8,0,0,16,16,0,0,0,394
497,297232,POST MERIDIEM SOUTHSIDE 24/100ML,24,4.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29
498,83305,K JACKSON VINT RES S/BLC - 750ML,12,14.99,0,2,2,5,7,4,...,5,1,5,3,9,18,21,12,6,382
499,36722,KETEL ONE VODKA - 750ML,12,27.99,2,8,8,5,5,7,...,2,13,4,9,5,11,10,13,6,399
500,330401,JOSH CELLARS S/BLC - 750ML,12,16.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29